<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}首页{% endblock %} - 六楼实验室</title>
    <meta name="keywords" content="{% block keywords %}{% endblock %}sixlab,sixlab.cn,六楼,六楼的雨,六楼实验室,minesoft,minesoft.tech,矿软,矿软科技"/>
    <meta name="description" content="{% block description %}sixlab,sixlab.cn,六楼,六楼的雨,六楼实验室,minesoft,minesoft.tech,矿软,矿软科技{% endblock %}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='pure/pure-min.css') }}" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='email.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-3.4.1.min.js') }}"></script>
    {% block header %}
    {% endblock %}
</head>
<body>
<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <a href="#" id="j-h5-menu" class="nav-menu-button">Menu</a>
        <script>
            $("#j-h5-menu").click(function () {
                $("#nav").toggleClass("active");
            });
        </script>

        <div class="nav-inner">
            <a href="{{ url_for('index') }}" class="primary-button pure-button">六楼实验室</a>

            <div class="pure-menu">
                <ul class="pure-menu-list">
{#                  <li class="pure-menu-item"><a href="#" class="pure-menu-link">Inbox <span class="email-count">(2)</span></a></li>#}

                    <li class="pure-menu-item"><a href="{{ url_for('app_thoughts.thoughts_list', post_type='blog') }}" class="pure-menu-link">博客</a></li>
                    <li class="pure-menu-item"><a href="{{ url_for('app_thoughts.thoughts_list', post_type='forum') }}" class="pure-menu-link">讨论</a></li>
                    <li class="pure-menu-item"><a href="{{ url_for('app_thoughts.thoughts_list', post_type='mine') }}" class="pure-menu-link">我的</a></li>

                    <li class="pure-menu-heading">Labels</li>

                    <li class="pure-menu-item"><a href="{{ url_for('app_tags.tags', tag_name='python') }}" class="pure-menu-link"><span class="email-label-personal"></span>python</a></li>
                    <li class="pure-menu-item"><a href="{{ url_for('app_tags.tags', tag_name='flask') }}" class="pure-menu-link"><span class="email-label-work"></span>flask</a></li>
                    <li class="pure-menu-item"><a href="{{ url_for('app_tags.tags', tag_name='jinjia2') }}" class="pure-menu-link"><span class="email-label-travel"></span>jinjia2</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="main" class="pure-u-1 main-content">
        {% block main %}
        {% endblock %}

        <div id="footer"style="text-align: center;">
            <a href="http://beian.miit.gov.cn/" target="_blank">豫ICP备15033629号</a>
            <br/>
            2011 ~ 2019 © <a href="https://www.minesoft.tech/">矿软科技</a> - <a href="https://www.sixlab.cn/"
                                                                             target="_blank">六楼实验室</a>
        </div>
    </div>

</div>
</body>
</html>