{% extends 'frame/index.html' %}

{% block title %}{{ app_posts.post_title }}{% endblock %}

{% block keywords %}{{ app_posts.post_title }},{% endblock %}

{% block description %}{{ app_posts.post_title }},{% endblock %}

{% block header %}
    <style type="text/css">

    </style>
{% endblock %}

{% block main %}

    <div class="email-content">
        <div class="email-content-header">
            <h1 class="email-content-title">
                {{ app_posts.post_title }}
                {% if is_login %}
                    <a href="{{ url_for('app_posts.edit', post_id=app_posts.id) }}" target="_blank">编辑</a>
                {% endif %}
            </h1>
            <p class="email-content-subtitle">
                <span>{{ app_posts.create_time }}</span>
                ·
                <a href="{{ url_for('app_users.info', username=app_posts.create_user) }}">{{ app_posts.create_user }}</a>
                ·
                <span>👓({{ app_posts.view_count }})</span>
                ·
                <a href="#" id="j-thumb">👍({{ app_posts.thumb_count }})</a>
                {% if app_tags|length %}
                    ·
                {% endif %}

                {% for app_tag in app_tags %}
                    <a href="{{ url_for('app_tags.tags', tag_id=app_tag.id) }}"
                       class="secondary-button pure-button">{{ app_tag.tag_name }}</a>
                {% endfor %}
            </p>
        </div>

        <div class="email-content-body">
            {{ app_posts.post_content|safe }}
            <br/>
            <div>
                <a href="{{ current_url() }}">{{ current_url() }}</a>
            </div>
            <h2>
                评论功能开发中
            </h2>
        </div>
    </div>

    <script>
        $("#j-thumb").click(function () {
            $.ajax({
                url: "{{  url_for('app_thought.thumb', post_id=app_posts.id) }}?_t=" + Math.random(),
                type: "post",
                dataType: "json",
                success: function (data) {
                    $("#j-thumb").text("👍(" + data.data + ")");
                },
                error: function (data) {
                    console.log(data);
                },
            });

            return false;
        });
    </script>
{% endblock %}
