{% extends 'frame/index.html' %}

{% block title %}{{ app_posts.post_title }}{% endblock %}

{% block keywords %}{{ app_posts.post_title }},{% endblock %}

{% block description %}{{ app_posts.post_title }},{% endblock %}

{% block header %}
    <style type="text/css">

    </style>
{% endblock %}

{% block main %}

    <div class="email-content">
        <div class="email-content-header pure-g">
{#            <div class="pure-u-1-2">#}
                <h1 class="email-content-title">{{ app_posts.post_title }}</h1>
                <p class="email-content-subtitle">
                    <span>{{ app_posts.create_time }}</span>
                    ·
                    <a href="{{ url_for('app_users.username', username=app_posts.create_user) }}">{{ app_posts.create_user }}</a>
                </p>
{#            </div>#}

{#                <div class="email-content-controls pure-u-1-2">#}
{#                    <button class="secondary-button pure-button">Reply</button>#}
{#                    <button class="secondary-button pure-button">Forward</button>#}
{#                    <button class="secondary-button pure-button">Move to</button>#}
{#                </div>#}

        </div>

        <div class="email-content-body">
            {{ app_posts.post_content|safe }}
            <br/>
            <h2>
                评论功能开发中
            </h2>
        </div>
    </div>

{% endblock %}
