<div class="ss-comment j-comment">

    <script type="text/javascript" src="{{ url_for('static', filename='comment/jquery.flexText.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='comment/comment.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='comment/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='comment/comment.css') }}">

    <div class="reviewArea clearfix">
        <div class="flex-text-wrap">
            <pre class="pre"><span></span><br></pre>
            <textarea class="comment-content comment-input" placeholder="Please enter a comment…"
                      onkeyup="keyUP(this)"></textarea></div>
        <a href="javascript:;" class="plBtn">评论</a>
    </div>


    <div class="comment-show">
        {% for app_comment in app_comments %}
            <div class="comment-show-con clearfix">
                <div class="comment-show-con-img pull-left"><img
                        src="{{ url_for('static', filename='comment/header-img-comment_03.png') }}" alt=""></div>
                <div class="comment-show-con-list pull-left clearfix">
                    <div class="pl-text clearfix">
                        <a href="#" class="comment-size-name">{{ app_comment.create_user }} : </a>
                        <span class="my-pl-con">{{ app_comment.comment_content|safe }}</span>
                    </div>
                    <div class="date-dz">
                        <span class="date-dz-left pull-left comment-time">{{ app_comment.create_time }}</span>
                        <div class="date-dz-right pull-right comment-pl-block">
                            <a href="javascript:;" class="date-dz-pl pl-hf hf-con-block pull-left">回复</a>
                            <span class="pull-left date-dz-line">|</span>
                            <a href="javascript:;" class="date-dz-z pull-left"><i class="date-dz-z-click-red"></i>赞 (<i
                                    class="z-num">{{ app_comment.thumb_count }}</i>)</a>
                        </div>
                    </div>
                    <div class="hf-list-con"></div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>