<div class="ss-comment j-comment">
    <input type="hidden" value="{{ post_id }}" id="j-comment-post-id">

    <script type="text/javascript" src="{{ url_for('static', filename='comment/jquery.flexText.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='comment/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='comment/comment.css') }}">

    <div class="reviewArea clearfix">
        <div class="flex-text-wrap">
            <pre class="pre"><span></span><br></pre>
            <textarea class="comment-content comment-input" placeholder="请输入评论内容。。。"
                      onkeyup="keyUP(this)"></textarea></div>
        <a href="javascript:;" class="plBtn">评论</a>
    </div>


    <div class="comment-show">
        {% for app_comment in app_comments %}
            <div class="comment-show-con clearfix" data-comment-id="{{ app_comment.id }}">
                <div class="comment-show-con-img pull-left"><img
                        src="{{ url_for('static', filename='comment/header-img-comment_03.png') }}" alt=""></div>
                <div class="comment-show-con-list pull-left clearfix">
                    <div class="pl-text clearfix">
                        <a href="#" class="comment-size-name">{{ app_comment.create_user }}</a> :
                        <span class="my-pl-con">{{ app_comment.comment_content|safe }}</span>
                    </div>
                    <div class="date-dz">
                        <span class="date-dz-left pull-left comment-time">{{ app_comment.create_time }}</span>
                        <div class="date-dz-right pull-right comment-pl-block">
                            <a href="javascript:;" class="date-dz-z pull-left">👍 ({{ app_comment.thumb_count }})</a>
                            <span class="pull-left date-dz-line">|</span>
                            <a href="javascript:;" class="date-dz-pl pl-hf hf-con-block pull-left">回复</a>
                        </div>
                    </div>
                    <div class="hf-list-con"></div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        $(function () {
            $('.j-comment').flexText();
        });

        function keyUP(t) {
            let len = $(t).val().length;
            if (len > 139) {
                $(t).val($(t).val().substring(0, 140));
            }
        }

        {#评论#}
        $(document).off("click", ".plBtn");
        $(document).on("click", ".plBtn", function () {
            let replyId = "";
            if ($(this).hasClass("hf-pl")) {
                replyId = $(this).parents(".comment-show-con").data("comment-id");
            }

            let commentContent = $(this).siblings('.flex-text-wrap').find('.comment-input').val();
            let username = '{{ username }}';
            if (!username) {
                username = localStorage.getItem("ss-username");
            }
            if (!username) {
                username = "guest_" + (1000 + Math.ceil(Math.random() * 8000));
                localStorage.setItem("ss-username", username);
            }

            $.ajax({
                url: "{{  url_for('app_comments.submit', post_id=post_id) }}?_t=" + Math.random(),
                data: {
                    username: username,
                    commentContent: commentContent,
                    replyId: replyId,
                },
                type: "post",
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        window.loadComment();
                    } else {
                        alert("出错了");
                    }
                },
                error: function (data) {
                    alert("失败了");
                },
            });

            $(this).siblings('.flex-text-wrap').find('.comment-input').prop('value', '').siblings('pre').find('span').text('');
        });

        {#回复#}
        $(document).off("click", ".pl-hf");
        $(document).on("click", ".pl-hf", function () {
            let replyId = $(this).parents(".comment-show-con").data("comment-id");
            let replyTo = $(this).parents(".comment-show-con").find(".comment-size-name").text();

            let content = "@"+replyTo+" ";

            var fhHtml = '<div class="hf-con pull-left"> <textarea class="comment-content comment-input hf-input" placeholder="" onkeyup="keyUP(this)"></textarea> <a href="javascript:;" class="hf-pl plBtn">评论</a></div>';
            //显示回复
            if ($(this).is('.hf-con-block')) {
                $(this).parents('.date-dz-right').parents('.date-dz').append(fhHtml);
                $(this).removeClass('hf-con-block');
                $('.comment-content').flexText();
                $(this).parents('.date-dz-right').siblings('.hf-con').find('.pre').css('padding', '6px 15px');
                //console.log($(this).parents('.date-dz-right').siblings('.hf-con').find('.pre'))
                //input框自动聚焦
                $(this).parents('.date-dz-right').siblings('.hf-con').find('.hf-input').val('').focus().val(content);
            } else {
                $(this).addClass('hf-con-block');
                $(this).parents('.date-dz-right').siblings('.hf-con').remove();
            }

            return false;
        });

        {#点赞#}
        $(document).off("click", ".date-dz-z");
        $(document).on("click", ".date-dz-z", function () {
            let element = $(this);
            let commentId = $(this).parents('.comment-show-con').data("comment-id");

            $.ajax({
                url: "{{  url_for('app_comments.thumb') }}?_t=" + Math.random(),
                data:{
                    commentId: commentId
                },
                type: "post",
                dataType: "json",
                success: function (data) {
                    element.text("👍(" + data.data + ")");
                },
                error: function (data) {
                    console.log(data);
                },
            });

            return false;
        });
    </script>
</div>